
.team-heading {
    background-color: red;
}

.employee-card {
    background-color: green;
    margin:20px;
    border-radius: 15px;
}

.list-group {
    border:none;
    background-color: transparent;
}


.list-group > li {
    border:none;
    background-color: transparent;
}