
.team-heading {
    background-color: olivedrab;
}

h1 {
    color:black;
}

.employee-card {
    background-color:olivedrab;
    margin:20px;
    border-radius: 15px;
}

.list-group {
    border:none;
    background-color: transparent;
}


.list-group > li {
    border:none;
    background-color: transparent;
    color:white;
}

a {
    color:white;
}

a:hover {
    font-weight: bolder;
    color:white;
    text-decoration: none;
}